<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407612109000-6tfedrauaiuqgsknfnloel1siujejocv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407612109000-6tfedrauaiuqgsknfnloel1siujejocv</string>
	<key>API_KEY</key>
	<string>AIzaSyB2XAxiEpjYy6y827Jlmies0Q1wCQ14BYM</string>
	<key>GCM_SENDER_ID</key>
	<string>407612109000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cass.timesheet</string>
	<key>PROJECT_ID</key>
	<string>cass-timesheet-7e30a</string>
	<key>STORAGE_BUCKET</key>
	<string>cass-timesheet-7e30a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407612109000:ios:7a1aa07a26e1da435bf5fd</string>
	<key>DATABASE_URL</key>
	<string>https://cass-timesheet-7e30a.firebaseio.com</string>
</dict>
</plist>